{
  "openapi": "3.0.3",
  "info": {
    "title": "Nightell APIs",
    "description": "Nightell OpenAPI (Swagger) Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nightell.neatplex.com/api/v1"
    }
  ],
  "paths": {
    "/auth/otp/email/generate": {
      "post": {
        "summary": "Generate OTP in order to sign up or sign in.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "i@miladrahimi.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The OTP generated and sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ttl": {
                      "type": "integer",
                      "default": "300",
                      "description": "The time to live (number of seconds that otp is valid)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp/email/submit": {
      "post": {
        "summary": "Submit OTP received by email to complete sign in or sign up process.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "otp"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "i@miladrahimi.com",
                    "description": "The email that OTP is requested for"
                  },
                  "otp": {
                    "type": "string",
                    "example": "012345",
                    "description": "The OTP received by email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user signed in or signed up successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string",
                      "description": "The bearer token for authentication"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-in/email": {
      "post": {
        "summary": "Sign in by email and password.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "i@miladrahimi.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "safe-password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user signed in successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string",
                      "description": "The bearer token for authentication"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-in/username": {
      "post": {
        "summary": "Sign in by username and password.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "jack"
                  },
                  "password": {
                    "type": "string",
                    "example": "safe-password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user signed in successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string",
                      "description": "The bearer token for authentication"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-in/google": {
      "post": {
        "summary": "Sign in or sign up using Google SSO.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "google_token"
                ],
                "properties": {
                  "google_token": {
                    "type": "string",
                    "example": "abc.123.xyz",
                    "description": "The ID Token (JWT) received from Google"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user signed in or signed up successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string",
                      "description": "The bearer token for authentication"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "summary": "Get my profile.",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "My profile returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "followers_count": {
                      "type": "integer",
                      "example": 666
                    },
                    "followings_count": {
                      "type": "integer",
                      "example": 666
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Submit delete account request.",
        "tags": [
          "Profile"
        ],
        "responses": {
          "204": {
            "description": "Delete account request submitted."
          }
        }
      }
    },
    "/profile/name": {
      "patch": {
        "summary": "Update my name.",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Milad",
                    "description": "The new name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The name updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/bio": {
      "patch": {
        "summary": "Update my bio.",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bio"
                ],
                "properties": {
                  "bio": {
                    "type": "string",
                    "example": "I am so funny!",
                    "description": "The new bio"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bio updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/username": {
      "patch": {
        "summary": "Update my username.",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "jack",
                    "description": "The new username"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The username updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/image": {
      "patch": {
        "summary": "Update my image (photo).",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "image_id"
                ],
                "properties": {
                  "image_id": {
                    "type": "integer",
                    "nullable": true,
                    "example": 13,
                    "description": "Unique id of the image (uint64)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The image updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "post": {
        "summary": "Upload a new file.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "extension",
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload"
                  },
                  "extension": {
                    "$ref": "#/components/schemas/Extension"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The file uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file": {
                      "$ref": "#/components/schemas/File"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "summary": "Get the user details.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The user details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "followers_count": {
                      "type": "integer",
                      "example": 666
                    },
                    "followings_count": {
                      "type": "integer",
                      "example": 666
                    },
                    "followed_by_me": {
                      "type": "boolean",
                      "description": "True if I follow the user"
                    },
                    "follows_me": {
                      "type": "boolean",
                      "description": "True if user follows me"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/followings": {
      "get": {
        "summary": "Index followings of the user.",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of items to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5,
              "default": 10
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "ID of the last item retrieved",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "List of user followings returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/followers": {
      "get": {
        "summary": "Index followers of the user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of items to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5,
              "default": 10
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "ID of the last item retrieved",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user followers returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Follow the user.",
        "tags": [
          "Users"
        ],
        "responses": {
          "201": {
            "description": "The user followed successfully."
          }
        }
      },
      "delete": {
        "summary": "Unfollow the user.",
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "The user unfollowed successfully."
          }
        }
      }
    },
    "/users/{userId}/posts": {
      "get": {
        "summary": "Index the user posts.",
        "tags": [
          "Posts"
        ],
        "responses": {
          "200": {
            "description": "List of the user posts returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posts": {
      "post": {
        "summary": "Create a new post.",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new post created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "summary": "Get the post.",
        "tags": [
          "Posts"
        ],
        "responses": {
          "201": {
            "description": "The post returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update the post.",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Blind Owl",
                    "description": "The new title"
                  },
                  "description": {
                    "type": "string",
                    "example": "This is my first update! #first_update",
                    "description": "The new description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The post updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the post.",
        "tags": [
          "Posts"
        ],
        "responses": {
          "204": {
            "description": "The post deleted successfully."
          }
        }
      }
    },
    "/posts/{postId}/likes": {
      "get": {
        "summary": "Index the post likes.",
        "tags": [
          "Likes"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of items to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5,
              "default": 10
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "ID of the last item retrieved",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The post likes returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "likes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Like"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Like the post.",
        "tags": [
          "Likes"
        ],
        "responses": {
          "201": {
            "description": "The post liked successfully."
          }
        }
      }
    },
    "/likes/{likeId}": {
      "delete": {
        "summary": "Delete the like (unlike related post).",
        "tags": [
          "Likes"
        ],
        "responses": {
          "201": {
            "description": "The like deleted successfully."
          }
        }
      }
    },
    "/posts/{postId}/comments": {
      "get": {
        "summary": "Index the post comments.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of items to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5,
              "default": 10
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "ID of the last item retrieved",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The post comments returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/comments": {
      "get": {
        "summary": "Index my comments.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of comments to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5,
              "default": 10
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "ID of the last comment retrieved",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "responses": {
          "200": {
            "description": "My comments returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new comment.",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewComment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new comment created successfully."
          }
        }
      }
    },
    "/comments/{commentId}": {
      "delete": {
        "summary": "Delete the comment (my comment or my post's comment).",
        "tags": [
          "Comments"
        ],
        "responses": {
          "204": {
            "description": "The comment deleted successfully."
          }
        }
      }
    },
    "/search/posts": {
      "get": {
        "summary": "Search in posts.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Rock Music",
              "description": "The search query"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of items to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5,
              "default": 10
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "ID of the last item retrieved",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/users": {
      "get": {
        "summary": "Search in users.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Milad Rahimi",
              "description": "The search query"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of items to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5,
              "default": 10
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "ID of the last item retrieved",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/feed": {
      "get": {
        "summary": "Index my feed posts.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of items to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5,
              "default": 10
            }
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "ID of the last item retrieved",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The feed posts returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "accept": {
        "in": "header",
        "name": "Accept",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "application/json"
          ]
        },
        "example": "application/json"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 13,
            "description": "Unique id of user (uint64)"
          },
          "email": {
            "type": "string",
            "example": "i@miladrahimi.com",
            "description": "User email address (unique)"
          },
          "password": {
            "type": "string",
            "example": "Secret69",
            "minLength": 8,
            "description": "User password (between 8 and 128 characters)"
          },
          "name": {
            "type": "string",
            "example": "Milad",
            "description": "The user's name (full name or nickname)"
          },
          "username": {
            "type": "string",
            "example": "username_1691_4b3a_847f_76b2ed0f00ec",
            "description": "Unique username (English letters, numbers and underscores)"
          },
          "bio": {
            "type": "string",
            "example": "I am so funny!",
            "description": "User biography (description)"
          },
          "is_banned": {
            "type": "boolean",
            "example": false,
            "description": "Whether the user has been banned or not."
          },
          "image": {
            "$ref": "#/components/schemas/File"
          },
          "image_id": {
            "type": "integer",
            "nullable": true,
            "example": 13,
            "description": "Unique id of the image file (uint64)"
          },
          "created_at": {
            "type": "string",
            "example": "2023-11-28T13:36:30.956Z",
            "description": "Registration time"
          }
        }
      },
      "File": {
        "type": "object",
        "description": "Uploaded audio or image file",
        "properties": {
          "id": {
            "type": "integer",
            "example": 13,
            "description": "Unique id of file (uint64)"
          },
          "user_id": {
            "type": "integer",
            "example": 13,
            "description": "Unique id of file (uint64)"
          },
          "path": {
            "type": "string",
            "example": "2023/12/22/audio_1691_4b3a_847f_76b2ed0f00ec.mp3",
            "description": "File path in server storage"
          },
          "extension": {
            "$ref": "#/components/schemas/Extension"
          }
        }
      },
      "Extension": {
        "type": "string",
        "enum": [
          "MP3",
          "JPG"
        ],
        "example": "MP3",
        "description": "File extension"
      },
      "Like": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 13,
            "description": "Unique id (uint64)"
          },
          "user_id": {
            "type": "integer",
            "example": 13,
            "description": "Unique id of user (uint64)"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "created_at": {
            "type": "string",
            "example": "2023-11-28T13:36:30.956Z",
            "description": "Registration time"
          }
        }
      },
      "Comment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NewPost"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 13,
                "description": "Unique id (uint64)"
              },
              "user": {
                "$ref": "#/components/schemas/User"
              },
              "post": {
                "$ref": "#/components/schemas/Post"
              },
              "created_at": {
                "type": "string",
                "example": "2023-11-28T13:36:30.956Z",
                "description": "Registration time"
              }
            }
          }
        ]
      },
      "Post": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NewPost"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 13,
                "description": "Unique id of post (uint64)"
              },
              "image": {
                "$ref": "#/components/schemas/File"
              },
              "audio": {
                "$ref": "#/components/schemas/File"
              },
              "user_id": {
                "type": "integer",
                "example": 13,
                "description": "Unique id of user (uint64)"
              },
              "user": {
                "$ref": "#/components/schemas/User"
              },
              "likes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Like"
                }
              },
              "likes_count": {
                "type": "integer",
                "example": 0,
                "description": "Numbers of likes"
              },
              "comments_count": {
                "type": "integer",
                "example": 0,
                "description": "Numbers of comments"
              },
              "created_at": {
                "type": "string",
                "example": "2023-11-28T13:36:30.956Z",
                "description": "Registration time"
              }
            }
          }
        ]
      },
      "NewPost": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "Blind Owl",
            "description": "The post title"
          },
          "description": {
            "type": "string",
            "example": "This is my first post! #first_post",
            "description": "The post description (content)"
          },
          "audio_id": {
            "type": "integer",
            "example": 13,
            "description": "Unique id of the audio file (uint64)"
          },
          "image_id": {
            "type": "integer",
            "nullable": true,
            "example": 13,
            "description": "Unique id of the image file (uint64)"
          }
        }
      },
      "NewComment": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer",
            "example": 13,
            "description": "Unique id of user (uint64)"
          },
          "post_id": {
            "type": "integer",
            "example": 13,
            "description": "Unique id of post (uint64)"
          },
          "text": {
            "type": "string",
            "example": "Wow! Nice...",
            "description": "The comment text"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
