{
  "openapi": "3.0.3",
  "info": {
    "title": "Nightel APIs",
    "description": "Nightel OpenAPI (Swagger) Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nightel.neatplex.com/api/v1"
    }
  ],
  "paths": {
    "/auth/sign-up": {
      "post": {
        "operationId": "auth-sign-up",
        "description": "Sign up new user and get the user details and authentication token.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewUser"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The user signed up successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-in/email": {
      "post": {
        "operationId": "auth-sign-in-email",
        "description": "Sign in registered user and get the user details and authentication token.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "i@miladrahimi.com"
                  },
                  "password": {
                    "type": "string",
                    "maxLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user signed in successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-in/username": {
      "post": {
        "operationId": "auth-sign-in-username",
        "description": "Sign in registered user and get the user details and authentication token.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "milad93x"
                  },
                  "password": {
                    "type": "string",
                    "maxLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user signed in successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "operationId": "profile-show",
        "description": "Show the current user profile",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "The user signed in successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/name": {
      "patch": {
        "operationId": "profile-update-name",
        "description": "Update name of the current user ",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Milad"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The name updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/bio": {
      "patch": {
        "operationId": "profile-update-bio",
        "description": "Update biography of the current user ",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bio"
                ],
                "properties": {
                  "bio": {
                    "type": "string",
                    "example": "I am so funny!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The name updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/username": {
      "patch": {
        "operationId": "profile-update-username",
        "description": "Update username of the current user ",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "milad_rahimi"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The name updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "post": {
        "operationId": "files-store",
        "description": "Store (upload) a new file",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "extension",
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  },
                  "extension": {
                    "type": "string",
                    "enum": [
                      "MP3",
                      "JPG"
                    ],
                    "example": "MP3",
                    "description": "Type of the file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The file uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stories": {
      "get": {
        "operationId": "stories-index",
        "description": "Index the stories (get the list of stories)",
        "tags": [
          "Stories"
        ],
        "responses": {
          "200": {
            "description": "The user signed in successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Story"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "stories-store",
        "description": "Store a new story",
        "tags": [
          "Stories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewStory"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new story created."
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stories/:identity/caption": {
      "patch": {
        "operationId": "stories-update-caption",
        "description": "Update the story caption",
        "tags": [
          "Stories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "caption": {
                    "type": "string",
                    "example": "This is my first story! #first_story",
                    "description": "The story caption/description/content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The story updated."
          },
          "403": {
            "description": "You do not have permission to perform this action."
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stories/:identity": {
      "delete": {
        "operationId": "stories-delete",
        "description": "Delete the story",
        "tags": [
          "Stories"
        ],
        "responses": {
          "201": {
            "description": "The story de;eted."
          },
          "403": {
            "description": "You do not have permission to perform this action."
          },
          "default": {
            "description": "Error!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "accept": {
        "in": "header",
        "name": "Accept",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "application/json"
          ]
        },
        "example": "application/json"
      }
    },
    "schemas": {
      "User": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NewUser"
          },
          {
            "type": "object",
            "required": [
              "identity",
              "username",
              "created_at"
            ],
            "properties": {
              "identity": {
                "type": "string",
                "example": "identity_1691_4b3a_847f_76b2ed0f00ec",
                "description": "Unique identity"
              },
              "username": {
                "type": "string",
                "example": "username_1691_4b3a_847f_76b2ed0f00ec",
                "description": "Unique username (English letters, numbers and underscores)"
              },
              "bio": {
                "type": "string",
                "example": "I am so funny!",
                "description": "User biography (description)"
              },
              "is_teller": {
                "type": "boolean",
                "example": false,
                "description": "Whether the user has the ability to share stories"
              },
              "created_at": {
                "type": "string",
                "example": "2023-11-28T13:36:30.956Z",
                "description": "Registration time"
              }
            }
          }
        ]
      },
      "File": {
        "type": "object",
        "description": "Uploaded audio or image file",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "example": "2023/12/22/audio_1691_4b3a_847f_76b2ed0f00ec.mp3",
            "description": "File path in server storage"
          },
          "extension": {
            "type": "string",
            "enum": [
              "MP3",
              "JPG"
            ],
            "example": "MP3",
            "description": "File extension"
          }
        }
      },
      "Story": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NewStory"
          },
          {
            "type": "object",
            "required": [
              "identity",
              "user",
              "likes_count",
              "comments_count",
              "created_at"
            ],
            "properties": {
              "identity": {
                "type": "string",
                "example": "identity_1691_4b3a_847f_76b2ed0f00ec",
                "description": "Unique identity"
              },
              "user": {
                "$ref": "#/components/schemas/User"
              },
              "likes_count": {
                "type": "integer",
                "example": 0,
                "description": "Numbers of likes"
              },
              "comments_count": {
                "type": "integer",
                "example": 0,
                "description": "Numbers of comments"
              },
              "created_at": {
                "type": "string",
                "example": "2023-11-28T13:36:30.956Z",
                "description": "Registration time"
              }
            }
          }
        ]
      },
      "NewStory": {
        "type": "object",
        "required": [
          "caption",
          "audio"
        ],
        "properties": {
          "caption": {
            "type": "string",
            "example": "This is my first story! #first_story",
            "description": "The story caption/description/content"
          },
          "audio": {
            "$ref": "#/components/schemas/File"
          },
          "image": {
            "$ref": "#/components/schemas/File"
          }
        }
      },
      "NewUser": {
        "type": "object",
        "required": [
          "username",
          "email",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "milad93x",
            "description": "User unique username (Regex: ^[a-z0-9_]+$)"
          },
          "email": {
            "type": "string",
            "example": "i@miladrahimi.com",
            "description": "User email address (unique)"
          },
          "password": {
            "type": "string",
            "example": "Secret69",
            "minLength": 8,
            "description": "User password (between 8 and 128 characters)"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
